Options -MultiViews
RewriteEngine On

# Hapus ekstensi .html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

# Redirect index.html ke root / (Home)
RewriteRule ^index\.html$ / [R=301,L]